/* flexbox header */
.container-header {
  display: flex; /* or inline-flex */
  justify-content: space-between;
  align-items: center;
}
.container-header .item {
  flex-grow: 1;
}

/* logo */
.logo {
  margin-bottom: -20px;
}
.logo img {
  max-width: 150px;
  padding-right: 10px;
  width: 90%;
}

/* search */
.search {
  margin-right: 25px;
  text-align: center;
}
#searchbar {
  padding: 10px;
  border-radius: 10px;
}
input[type="text"] {
  width: 100%;
  -webkit-transition: width 0.1s ease-in-out;
  transition: width 0.1s ease-in-out;
  font-size: 1rem;
}
label {
  padding-left: 25px;
  color: #3a3a3a;
  font-size: 1rem;
}
