header {
  height: 90px;
}

/* flexbox header */
.container-header {
  display: flex; /* or inline-flex */
  justify-content: space-between;
  align-items: center;
}
.container-header .item {
  flex-grow: 1;
}

/* logo */
.logo img {
  max-width: 150px;
  padding-right: 10px;
  margin-top: 13px;
}

/* search */
.search {
  margin-right: 25px;
}
#searchBar {
  padding: 7px;
  border-radius: 6px;
}
input[type="text"] {
  width: 100%;
  -webkit-transition: width 0.1s ease-in-out;
  transition: width 0.1s ease-in-out;
  font-size: 1rem;
}
label {
  color: #3e3e3e;
  font-size: 1rem;
  padding-left: 6px;
  font-weight: bold;
}
@media only screen and (min-width: 700px) {
  header {
    height: 100px;
  }
  .logo img {
    max-width: 250px;
    margin-top: 0;
  }
}
