/* flexbox content */
.container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container .item {
  margin: 0 1% 2% 1%;
}

.book-info {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
