/* book title, desc and button styling */
.title {
  font-size: 1.2rem;
  font-weight: bold;
}
.desc {
  font-size: 0.9rem;
  margin: 0 5%;
}
.button {
  font-size: 1rem;
  padding: 8px 10px;
  margin: 3px 0 0 0;
  border: 1px dotted #fff;
  color: #fff;
  text-decoration: none;
}
.button:hover {
  background-color: #0000001f;
}

/* flip cards from: https://www.w3schools.com/howto/howto_css_flip_card.asp */
.flip-card {
  background-color: transparent;
  width: 220px;
  height: 314.19px;
}
.flip-card-front img {
  width: 220px;
  height: 314.19px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  transition-timing-function: ease-in;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(246, 246, 246);
  transform: rotateY(180deg);
}

/* lightbox from https://codepen.io/iaian7/pen/KvveLr (heavily adapted) */
.lightbox {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}
.lightbox img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.lightbox a {
  color: #fff;
}
.lightbox:target {
  visibility: visible;
  opacity: 1;
}
.lightbox:target img {
  max-width: 95%;
  max-height: 82%;
}
.lightboxClose,
.lightboxPrev,
.lightboxNext {
  display: block;
  width: 100%;
  height: 100%;
}
.lightboxClose span,
.lightboxPrev span,
.lightboxNext span {
  display: block;
  position: absolute;
  padding: 9px 13px;
  color: white;
  background-color: #272727;
  width: 12px;
}
.lightboxClose span {
  top: 2px;
  right: 2px;
}
.lightboxPrev span {
  top: 2px;
  right: 82px;
}
.lightboxNext span {
  top: 2px;
  right: 42px;
}
@media only screen and (min-width: 700px) {
  .lightboxClose span {
    top: 2px;
    right: 2px;
  }
  .lightboxPrev span {
    top: 62px;
    right: 2px;
  }
  .lightboxNext span {
    top: 122px;
    right: 2px;
  }
  .lightbox:target img {
    max-height: 95%;
  }
}
